<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeez.zp.platform.mapper.CategoryMapper">

    <select id="selectPresaleCategories" resultType="com.jeez.zp.platform.vo.CategoryViewVO">
        SELECT
            CAST(gm.category_id AS CHAR) AS categoryId,
            gm.category_name AS categoryName,
            CAST(gm.category_id AS CHAR) AS id,
            gm.category_name AS name
        FROM goods_main gm
        WHERE gm.camp_id = #{campId}
          AND gm.is_deleted = 0
          AND gm.room_category_type IN (1, 2, 3)
          AND gm.category_id IS NOT NULL
          AND gm.category_name IS NOT NULL
          AND gm.category_name != ''
          AND (gm.room_category_type IS NULL OR gm.category_id != gm.room_category_type)
        GROUP BY gm.category_id, gm.category_name
        ORDER BY gm.category_id ASC
    </select>
</mapper>
